@using TraversalProject.CQRS.Results.DestinationResults;
@model List<GetAllDestinationQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>CQRS Destinations</h1>

<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>City</th>
        <th>Day-Night</th>
        <th>Price</th>
        <th>Capacity</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.city</td>
            <td>@item.dayNight</td>
            <td>@item.price</td>
            <td>@item.capacity</td>
            <td><a href="/Admin/DestinationCQRS/GetDestination/@item.id" class="btn btn-outline-warning">Update</a></td>
            <td><a href="#" class="btn btn-outline-danger">Delete</a></td>
        </tr>
    }
</table>

<td><a href="#" class="btn btn-outline-danger">Add a New Destination</a></td>