@model List<Destination>
@{
    ViewData["Title"] = "GetCitiesSearchByName";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>GetCitiesSearchByName</h1>

<form asp-action="GetCitiesSearchByName" method="get" asp-area="Member">
    <div>
        <p>
            Please search city: <input type="text" class="form-control" name="searchCity" value="@ViewData["CurrentFilter"]"/>
            <br />
            <input type="submit" value="search city" class="btn btn-outline-primary"/>
        </p>
    </div>
</form>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>City</th>
        <th>Days</th>
        <th>Capacity</th>
        <th>Price</th>
        <th>Details</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.City</td>
            <td>@item.DayNight</td>
            <td>@item.Capacity</td>
            <td>$ @item.Price</td>
            <td><a href="#" class="btn btn-outline-info">Details</a></td>
        </tr>
    }
</table>